%header
	%h1#title r-p-s-l-s
	.game_details
		.total= "[#{@percent_won}%] (#{@total})"
		.score= " Me  (#{@comp_wins} : #{@player_wins})  You "
		.reset= link_to "Reset", reset_game_path
-#		.leaderboard= link_to "Leaderboard", leaderboard_path