%table#leaderboard
	%tbody
		%tr
			%th Name
			%th Score
			%th Wins
			%th Losses
			%th Ties
			%th Matches
			%th Date
		- @leaders.each do |leader|
			%tr 
				%td= leader.name if leader.name
				%td= leader.score if leader.score
				%td= leader.wins
				%td= leader.losses
				%td= leader.ties
				%td= leader.num_matches
				%td= leader.played
