%table#game
	%td.strategies
		-@strategies.each_with_index do |h, i|
			= link_to '', rpsls_path(:player_move => h), :id => "strategy_#{i}"
		= image_tag 'rules.png', :alt => 'rules'
	= render 'game'	
= render 'leaderboard'

#debug
	-if ENV["RAILS_ENV"] == "development"
		= debug(params)
		= debug(session)

	
	