#main_left
	= image_tag 'rules.png', :alt => 'rules'
	-@strategies.each_with_index do |h, i|
		= link_to '', rpsls_path(:player => h), :name => "strategy_#{i}"
#main_center
	-if flash[:leaderboard]
		= render :partial => 'leaderboard'
	-else
		= render :partial => 'game'

#main_right
	= render(:partial => 'leaderboard_summ') if !flash[:leaderboard]

	
	