!!! 5
%html
	%head
		%title r-s-p-l-s
		= stylesheet_link_tag "application"
		= javascript_include_tag "application"
		= csrf_meta_tags
		= favicon_link_tag

	%body
		= render 'header'
		#main
			= yield
